*{
    padding:0px;
    margin:0px;
    margin: 0px 10px;
}

.heading{
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin-left:125px;

    margin-bottom:100px;
}
.hamber{
 display: none;
}

.nav{
    display: flex;
    justify-content: space-between;
    gap:23px;
    width:506px;
    height: 43px;;
}

.nav li {
    list-style: none;
}
.ourpopular{
    display:flex;
    margin-top:100px;
    margin-left:135px;
}
.mountan-image{
  background-image:url('Images/Rectangle\ 4.png');
  width: 540px;
  height:550px;
}
.why-choose-container{
    display:flex;
    flex-direction: column;
    gap:24px;
    align-items: center;
    margin-top:200px;
    margin-bottom: 200px ;
}
.why-choose-tittle{
    margin-bottom:100px;


}
.center{
    padding:10px;
    display:flex;
background: #FFF;
border:3 px solid blue;
}
.image1{
    padding:10px;
    width: 573px;
    height: 284px;
    flex-shrink: 0;
    border-radius: 16px;
border: 1px solid rgba(251, 181, 99, 0.20);
background: rgba(251, 181, 99, 0.05);
}
.image2{
    padding:10px;
    width: 573px;
    height: 284px;
    flex-shrink: 0;
    border-radius: 16px;
border: 1px solid rgba(41, 206, 246, 0.20);
background: rgba(41, 206, 246, 0.05);
}
.end{
    padding:10px;
    width: 573px;
height: 284px;
flex-shrink: 0;
border-radius: 16px;
border: 1px solid rgba(233, 68, 68, 0.20);
background: rgba(233, 68, 68, 0.05);
}
.newsletter-container{
 display: flex;
 width:80%;
 margin-left:135px;
 justify-content: space-between;
 margin-bottom:200px;
 
}
.input{
   border:2px solid orangered;
   border-radius:16px ;
   height:344px;
   padding:30px;
}
.input1{
    width: 393px;
height: 52px;
flex-shrink: 0;
border-radius: 8px;
background: rgba(19, 19, 24, 0.05);
}
.input2{
    width: 393px;
    height: 52px;
    flex-shrink: 0;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
}
.suscribe{
    background-color: orangered;
    color:#FFF;
    padding:10px;
    text-align:center;
    border-radius: 16px;
    
}
.scene{
    display: flex;
    background-image:url('Images/Rectangle\ 4.png');
    height:400px;
    width:400px;
    background-repeat: no-repeat;
    gap:50px;
    border-radius: 16px;
    justify-content:flex-end;
    align-items: flex-end;
    
}
.travel{
    width:224px;
    height:60px;
    background-color: orangered;
    color:white;
    transform: rotate(-19.628deg);
    margin-bottom:30px;
    padding:10px;
    
}

footer{
    display: flex;
    height: 502px;
    background: rgba(19, 19, 24, 0.05);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
@media screen and (max-width:600px){
    .heading{
        
 margin: 0px;

        
    }
    .nav{
        display: none;
    }
    .hamber {
        display:inline-block;
    
    }
    .ourpopular{
        flex-direction: column;
        margin-left:0px;
    }
    .text{
        margin-bottom:30px;;
    }
    .center{
        flex-direction:column;
        
    }
    .image1{
        width: 335px;
height: 289px;
flex-shrink: 0;

    }
    .image2{
width: 335px;
height: 289px;
flex-shrink: 0;
    }
    .end{
        width: 335px;
height: 289px;
flex-shrink: 0;
    }
 .newsletter-container{
    flex-direction: column;
    gap:24px;
    width:78%;
    margin-left:10px;;
    justify-content: center;
   
    
 }
 .input,.scene{
    margin-right: 100px;
    width:470px;
    overflow: hidden;
 }
 .scene{
 width:560px;
 }


}

